html {
    scroll-behavior: smooth;
}
/* *,
*::before,
*::after {
    box-sizing: border-box;
} */
a {
    text-decoration: none;
    list-style-type: none;
    color: #152958;
}
body {
    margin: 0 auto;
    width: 1200px;
    height: 2520px;
    font-family: Mukta;
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    color:#152958;
    background-color: rgb(213, 218, 223);
    border-radius: 50%;
}
.container {
    width: 100%;
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid blue;
  }

 .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    border: 5px solid white;
  }

.col {
    position: relative;
    width: 30%;
    padding-right: 15px;
    padding-left: 15px;
    border: 5px solid green;
  }

/* .col__article,
.col__aside {
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;
    border: 5px solid yellow;
  } */

.header {
    /* position: relative; */
    width: 100%;
    /* height: 100px; */
    background-color: #323763;
}

.nav-list {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 50px;
    padding: 5px 20px;
    font-size: 25px;
    line-height: 50px;
    transition: .3s; 
    list-style: none; 
}

.nav-link  {
    color: rgb(122, 117, 117);
}

.nav-link:hover{
    color: white;
}

.aside {
    width: 500px;
    background-color: #55587a;
}

.box {
    position: relative;
    overflow: hidden;
    width: 60%;
    height: 30%;
}

.ava {
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    height: 100%;
    width: 100%;
    object-fit:cover;
}

.contacts {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 200px 50px; 
    width: 450px;
    font-size: 20px;
    text-align: left;
    color: white;
}

.contacts-list {
    list-style-type: none;
}

.main {
    width: 1440px;
    border: 5px solid fuchsia;
}

.info-box {
    /* position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: center;
    gap: 5px 5px; */
    /* margin-left: 20px;
    margin-top: 100px; */
    width: 950px;
    /* height: 1350px; */
    border: 5px solid red;
    font-family: Mukta;
    font-style: normal;
    font-size: 20px;
    line-height: 1.5em;
    color:#152958;
}

.footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    bottom: 0px;
    height: 100px;
    width: 100%;
    font-size: 14px;
    color: white;
    background-color: #323763;
}

.rs-scoole {
    position: relative;
    height: 100px;
    width: 100px;
}

.github {
    margin: 35px 35px;
    width: 40px;
    height: 40px;
}

.underline-title {
    position: relative;
  }
.underline-title::after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 100%;;
    height: 10px;
    background-color: #30335c;
  }

  h3, h1, h2 {
      margin: 0px;
      padding: 0px;
  }

  p {
    margin: 0px;
    padding: 0px;
  }

  h5 {
    display: block;
    font-size: 0.83em;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.courses-list {
    margin: 0px;
}

.courses-list-color:hover {
    color: white;
}

.main-git {
    margin: -65px 80px;
}

.codes {
    font-size: 22px;
    line-height: 1em;
    margin: 0;
    padding: 0;
}